<!DOCTYPE html>
<html >
<head>
  <style>
    .container {
      width: 800px;

      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      display: block;

      margin: 10px 0;
    }
  </style>
</head>

<body>
  <div class="container">
  <span>Oi, {{name}}</span>

  <br>
  
  <img src="https://i.imgur.com/oUAKMC5.png">

  <span>Você solicitou alteração de senha. </span>

  <span>Clique no link para realizar a alteração: 
    <a href={{link}}}>Alterar minha senha!</a>
  </span>

  <span>Se você não solicitou esta alteração, ignore este e-mail.</span>

  <span>Equipe | <strong>Rentx</strong></span>
</div>
</body>

</html>